<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>Welcome to the main page</h1>

      <ul>
        {{#each model as |inquiry|}}
           {{inquiry-tile inquiry=inquiry}}
        {{/each}}

      {{new-inquiry saveInquiry="saveInquiry"}}
      </ul>

    </div>

  </div>

</div>
