<h1>This is the main page</h1>

<ul>
  {{#each model as |inquiry|}}
     {{inquiry-tile inquiry=inquiry destroyInquiry="destroyInquiry"}}
  {{/each}}

{{inquiry-tile saveInquiry="saveInquiry"}}
</ul>
